<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tilføj kunde</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>

<div class="department-nav">
    <span class="department-label">Afdeling: </span>
    <span class="department-name">Biludlejning</span>
</div>

<!-- Side navigation bar -->
<div class="side-nav">
    <!-- Logo -->
    <div class="nav-logo">
        <img src="/Billeder/BILABONNEMENT.png" alt="Logo">
    </div>

    <!-- Navigation buttons -->


    <a th:href="@{/backToCustomer}" class="nav-button">Tilbage til kunder</a>
    <a th:href="@{/nyKunde}" class="nav-button1">Tilføj ny kunde</a>
    <!-- Logout button -->
    <a th:href="@{/logUd}" class="nav-button logout-button">Log ud</a>
</div>

<div class="main-content">
    <h1 class="ny-kunde-h1">Indtast kunde informationer</h1>

    <div class="form-template">
        <form th:action="@{/tilføjKunde}" method="post">
            <label>Indtast telefonnummer</label>
            <input type="number" name="telefonnummer" placeholder="Telefonnummer" required min="10000000" max="99999999">
            <label>Indtast Email</label>
            <input type="email" name="email" placeholder="Email" required>
            <label>Indtast fornavn</label>
            <input type="text" name="fornavn" placeholder="Fornavn" required>
            <label>Indtast efternavn</label>
            <input type="text" name="efternavn" placeholder="Efternavn" required>
            <label>Indtast din adresse</label>
            <input type="text" name="adresse" placeholder="Adresse" required>
            <label>Indtast dit postnummer</label>
            <input type="number" name="postnummer" placeholder="Postnummer" required>
            <label>Indtast by</label>
            <input type="text" name="byen" placeholder="By" required>
            <label>Indtast dit kørekortnummer</label>
            <input type="text" name="koerekortnummer" placeholder="Kørekortnummer" required>
            <label>Indtast dit udstedelsdato</label>
            <input type="date" name="udstedelsdato" placeholder="Udstedelsesdato" required>
            <button type="submit" class="tilføj-kunde-knap">Tilføj Kunde</button>
        </form>
    </div>
</div>


</body>
</html>