<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="MyCSS.css">
    <title>forretnings Udvikler</title>
</head>
<body>
<!-- Afdelings nav -->
<div class="department-nav">
    <span class="department-label">Afdeling: </span>
    <span class="department-name">Forretnings udvikling</span>
</div>

<!-- Side navigation bar -->
<div class="side-nav">
    <!-- Logo -->
    <div class="nav-logo">
        <img src="/Billeder/BILABONNEMENT.png" alt="Logo">
    </div>

    <!-- Navigation buttons1 -->
    <!-- <a th:href="@{/backToManage}" class="nav-button">Tilbage til menu</a> -->


    <!-- Logout button -->
    <a th:href="@{/logUd}" class="nav-button logout-button">Log ud</a>

</div>
<div class="main-content">
    <h1 class="manage-h1">Vælg en afdeling</h1>

    <div class="manage-options">
        <a th:href="@{/antalLejedeBiler}" class="antal-lejede-biler-knap">
            <img src="/Billeder/AntalLejetBiler01.webp" alt="lejede-biler">
            <span>antal lejede biler</span>
        </a>

        <a th:href="@{/samletIndtægt}" class="samlet-Indtægt-knap">
            <img src="/Billeder/samletIndtægt02.webp" alt="indtægt">
            <span>samlet indtægt</span>
        </a>

        <a th:href="@{/topLejedeModeller}" class="top-lejede-biler-knap">
            <img src="/Billeder/TopModeller03.webp" alt="topLejedeBiler">
            <span>Top Modeller</span>
        </a>
    </div>
</div>
</body>
</html>