<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="MyCSS.css">
  <title>Samlede Indtægter</title>
</head>
<body>

<div class="department-nav">
  <span class="department-label">Afdeling: </span>
  <span class="department-name">Forretnings udvikling</span>
</div>

<!-- Side navigation bar -->
<div class="side-nav">
  <!-- Logo -->
  <div class="nav-logo">
    <img src="/Billeder/BILABONNEMENT.png" alt="Logo">
  </div>

  <!-- Navigation buttons -->
  <a th:href="@{/homeForretningsUdvikler}" class="nav-button">Tilbage til menu</a>

  <!-- Logout button -->
  <a th:href="@{/logUd}" class="nav-button logout-button">Log ud</a>
</div>

<div class="main-content">
  <h1 class="samlet-Indtægt-overskrift">Samlede indtægter</h1>




  <div class="manage-options">
    <div class="form-template">

      <form th:action="@{/samletIndtægt}" method="post">
        <div th:if="${ingenIndtægt}" class="error-message">
          <p th:text="${ingenIndtægt}"></p>
        </div>
        <label for="fraDato">Fra dato: </label>
        <input type="date" id="fraDato" name="fraDato" required>
        <br>
        <label for="tilDato">Til dato: </label>
        <input type="date" id="tilDato" name="tilDato" required>
        <br>
        <button type="submit">Vis antallet</button>
        <br>

        <p th:if="${samletIndtægt != null}"
           th:text="'Samlet indtægt for denne periode er ' + ${samletIndtægt}"></p>

      </form>

    </div>

    <div class="månedlige-indtægt">
      <form th:action="@{/monthlyIncome}" method="post">
        <label>Indtast det år du vil se månedlig indtjening for</label>
        <input type="number" name="year" required min="1000" max="9999">
        <button type="submit">Tryk her for at se alt indtjening</button>
      </form>
      <div class="alt-indtjening">
        <h1 th:if="${year}" th:text="'Alt indtjening for år ' + ${year} "></h1>
        <table class="indtjening-table" th:if="${indtjening}">
          <thead>
          <tr>
            <th>Måned</th>
            <th>Indtjening</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="income : ${indtjening}">
            <td th:text="${income.monthName}"></td>
            <td th:text="${income.indtjening}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>
</body>
</html>