<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="MyCSS.css">
  <title>Top Lejede Bil Modeller</title>
</head>
<body>
<!-- department nav-->
<div class="department-nav">
  <span class="department-label">Afdeling: </span>
  <span class="department-name">Forretnings udvikling</span>
</div>

<!-- Side navigation bar -->
<div class="side-nav">
  <!-- Logo -->
  <div class="nav-logo">
    <img src="/Billeder/BILABONNEMENT.png" alt="Logo">
  </div>

  <!-- Navigation buttons -->
  <a th:href="@{/homeForretningsUdvikler}" class="nav-button">Tilbage til menu</a>

  <!-- Logout button -->
  <a th:href="@{/logUd}" class="nav-button logout-button">Log ud</a>
</div>


<div class="main-content">
  <h1 class="top-lejede-biler-overskrift">Find mest populære biler</h1>
  <div class="manage-options">
    <div class="form-template">
      <form th:action="@{/topLejedeModeller}" method="post">
        <div th:if="${ingenTopBil}" class="error-message">
          <p th:text="${ingenTopBil}"></p>
        </div>
        <label>Fra Dato: </label>
        <input type="date" name="fraDato" placeholder="Indtast start datoen" required>
        <br>
        <label>Til Dato: </label>
        <input type="date" name="tilDato" placeholder="Indtast slut datoen" required>
        <br>
        <div class="submit-top-bil">
          <button type="submit" class="nav-button1">Vis den top model bil</button>
        </div>
        <br>

        <div th:if="${model != null}" class="vis-nummer-1-bil">
          <h2 th:text="'I perioden ' + ${fraDato} + ' til ' + ${tilDato}"></h2>
          <p th:text="'Er bilen ' + ${maerke} + ' ' + ${model} + ' den mest udlejet'"></p>
          <p th:text="'Bilen er udlejet ' + ${antalLånt} + ' gange inden for denne periode'"></p>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>