<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage</title>
  <link rel="stylesheet" href="MyCSS.css">
</head>
<body>
<h1 class="manage-h1">Vælg</h1>

<div class="side-nav">
  <!-- Logo -->
  <div class="nav-logo">
    <img src="/Billeder/BILABONNEMENT.png" alt="Logo">
  </div>

  <p>Du er logget ind som: <strong th:text="${session.rolle}"></strong></p>

  <!-- Navigation buttons -->

  <a th:href="@{/logUd}" class="nav-button logout-button">Log ud</a>
</div>

<div class="main-content">
  <h1 class="manage-h1">Vælg</h1>

  <div class="manage-options">
    <a th:href="@{/manageKunder}" class="manage-kunde-knap">
      <img src="/Billeder/håndterkunder.webp" alt="Kunder">
      <span>Tilføj eller find en kunde</span>
    </a>

    <a th:href="@{/manageBiler}" class="manage-biler-knap">
      <img src="/Billeder/håndterBiler.webp" alt="Biler">
      <span>Se alle Biler</span>
    </a>

    <a th:href="@{/manageKontrakter}" class="manage-kontrakter-knap">
      <img src="/Billeder/manageKontrakter.webp" alt="Kontrakter">
      <span>Tilføj eller find lejekontrakter</span>
    </a>
    <a th:href="@{/manageHaandteringer}" class ="manage-biler-knap">
      <img src="/Billeder/manageKontrakter.webp" alt="Kontrakter">
      <span> Manage Bil-Haandeteringer</span>
    </a>
  </div>
</div>
</body>
</html>
