<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">

    <title>Kundens Kontrakter</title>
</head>
<body>

<div class="department-nav">
    <span class="department-label">Afdeling: </span>
    <span class="department-name">Biludlejning</span>
</div>

<div class="side-nav">
    <!-- Logo -->
    <div class="nav-logo">
        <img src="/Billeder/BILABONNEMENT.png" alt="Logo">
    </div>

    <!-- Navigation buttons -->

    <a th:href="@{/alleKontrakter}" class="nav-button">Tilbage til lejekontrakter</a>
    <!-- Logout button -->
    <a th:href="@{/logUd}" class="nav-button logout-button">Log ud</a>
</div>

<div class="main-content">
    <h1 class="kunde-h1">Kunde udtræk på telefonnummer</h1>

    <table class="lejekontrakt-table">
        <thead>
        <tr>
            <th>Lejekontrakt_id</th>
            <th>Telefonnummer</th>
            <th>Nummerplade</th>
            <th>Start dato</th>
            <th>Slut dato</th>
            <th>Max km</th>
            <th>Pris</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="kontrakt: ${kontrakter}">
            <td th:text="${kontrakt.lejekontrakt_id}"></td>
            <td th:text="${kontrakt.telefonnummer}"></td>
            <td th:text="${kontrakt.nummerplade}"></td>
            <td th:text="${kontrakt.startdato}"></td>
            <td th:text="${kontrakt.slutdato}"></td>
            <td th:text="${kontrakt.maxKm}"></td>
            <td th:text="${kontrakt.pris}"></td>
        </tr>
        </tbody>
    </table>
</div>



</body>
</html>