<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/MyCSS.css">
  <title>Ny lejekontrakt</title>
</head>
<body>

<div class="department-nav">
  <span class="department-label">Afdeling: </span>
  <span class="department-name">Biludlejning</span>
</div>

<div class="side-nav">
  <!-- Logo -->
  <div class="nav-logo">
    <img src="/Billeder/BILABONNEMENT.png" alt="Logo">
  </div>

  <!-- Navigation buttons -->

  <a th:href="@{/backToKontrakt}" class="nav-button">Tilbage til lejekontrakter</a>
  <!-- Logout button -->
  <a th:href="@{/logUd}" class="nav-button logout-button">Log ud</a>
</div>

<div class="main-content">

  <h1 class="ny-lejekontrakt-h1">Indtast informationer for lejekontrakt</h1>
  <!--Class name for forms -->
  <div class="form-template">
    <form th:action="@{/tilføjKontrakt}" method="post">
      <label>Indtast telefonnummer</label>
      <input type="number" name="telefonnummer" placeholder="Telefonnummer" required min="10000000" max="99999999">
      <label>Vælg nummerplade</label>
      <select name="nummerplade" required>
        <option disabled selected>Vælg en nummerplade</option>
        <option th:each="nummerplade: ${nummerplader}"
                th:value="${nummerplade}"
                th:text="${nummerplade}"></option>
      </select>
      <label>Indtast start datoen for kontrakten</label>
      <input type="date" name="startdato" placeholder="Start dato" required>
      <label>Indtast slut datoen</label>
      <input type="date" name="slutdato" placeholder="Slut dato" required>
      <label>Indtast maximum antal kilometer</label>
      <input type="number" name="maxKm" placeholder="maxKm" required>
      <label>Indtast pris</label>
      <input type="number" name="pris" placeholder="Pris" required>
      <button type="submit" class="tilføj-lejekontrakt-knap">Tilføj lejekontrakt</button>
    </form>
  </div>
</div>




</body>
</html>