<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Biler</title>
  <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<!-- nav-top -->
<div class="department-nav">
  <span class="department-label">Afdeling: </span>
  <span class="department-name">Biludlejning</span>
</div>

<!-- Side navigation bar -->
<div class="side-nav">
  <!-- Logo -->
  <div class="nav-logo">
    <img src="/Billeder/BILABONNEMENT.png" alt="Logo">
  </div>

  <!-- Navigation buttons -->
  <a th:href="@{/manage}" class="nav-button">Tilbage til menu</a>

  <!-- Logout button -->
  <a th:href="@{/logUd}" class="nav-button logout-button">Log ud</a>
  <!--    tilføj bil-->
  <a th:href="@{/nyBil}" class="nav-button">Tilføj Bil</a>
</div>

<div class="main-content">
  <!-- overskrift h1 -->
  <h1 class="bil-h1">Alle biler</h1>

  <div class="table-container">
    <table class="bil-table">
      <thead>
      <tr>
        <th>Nummerplade</th>
        <th>Mærke</th>
        <th>Model</th>
        <th>Brændstofstype</th>
        <th>Odometer</th>
        <th>Første registrering</th>
        <th>CO2-udledning</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="bil: ${biler}">
        <td th:text="${bil.nummerplade}"></td>
        <td th:text="${bil.maerke}"></td>
        <td th:text="${bil.model}"></td>
        <td th:text="${bil.braendstoftype}"></td>
        <td th:text="${bil.odometer}"></td>
        <td th:text="${bil.foersteregistrering}"></td>
        <td th:text="${bil.co2udledning}"></td>
        <td class="slet-bil">
          <form th:action="@{/sletBil}" method="post">
            <input type="hidden" name="nummerplade" th:value="${bil.nummerplade}">
            <button type="submit" class="slet-bil-knap">Slet bil</button>
          </form>
        </td>

        <td class="rediger_kunde">
          <!--add a button to edit and update a car-->
          <a th:href="@{'/redigerBil/' + ${bil.nummerplade}}">
            <button class="btn-redigerBil" id="btn-redigerBil">Rediger Bil</button> <!-- CSS to rediger-knap-->
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>