<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/MyCSS.css">
  <title>Kundens Skader</title>
</head>
<body>
<!-- top nav -->
<div class="department-nav">
  <span class="department-label">Afdeling: </span>
  <span class="department-name">Skadehåndtering</span>
</div>

<!-- Side navigation bar -->
<div class="side-nav">
  <!-- Logo -->
  <div class="nav-logo">
    <img th:src="@{/Billeder/BILABONNEMENT.png}" alt="Bilabonnement logo">
  </div>
  <!-- Navigation buttons -->
  <a th:href="@{/backToSkader}" class="nav-button">Tilbage til skader</a>

  <!-- login credentials-->
  <div class="login-credetials">
    <p class="department-brugerlogin"> Bruger login:</p>
    <p class="department-loginUser"> <strong th:text="${session.rolle}"></strong></p>
  </div>

  <!-- logout button -->
  <a th:href="@{/logUd}" class="nav-button logout-button">Log ud</a>
</div>

<div class="main-content">

  <!-- Table container -->
  <div class="table-container">
    <!-- Her låner vi igen bil-table styling som kan betragtes som en global styling for mindre tables -->
    <table class="bil-table">
      <thead>
      <tr>
        <th>Lejekontrakt_id</th>
        <th>Skade type</th>
        <th>Beskrivelse</th>
        <th>Pris</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${#lists.isEmpty(Skader)}">
        <td colspan="4">Ingen skader fundet.</td>
      </tr>
      <tr th:each="skade: ${Skader}">
        <td th:text="${skade.lejekontrakt_id}"></td>
        <td th:text="${skade.skade_type}"></td>
        <td th:text="${skade.beskrivelse}"></td>
        <td th:text="${skade.pris}"></td>
      </tr>
      </tbody>
    </table>
  </div>


</div>

</body>
</html>
