<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
    <title>Skade rapporter</title>
</head>
<body>
<div class="department-nav">
    <span class="department-label">Afdeling: </span>
    <span class="department-name">Skadehåndtering</span>
</div>


<div class="side-nav">
    <!-- Logo -->


    <div class="nav-logo">
        <img src="/Billeder/BILABONNEMENT.png" alt="Logo">
    </div>

    <a th:href="@{/nySkade}" class="nav-button1">Opret ny skade</a>

    <!-- login credentials-->
    <div class="login-credetials">
        <p class="department-brugerlogin"> Bruger login:</p>
        <p class="department-loginUser"> <strong th:text="${session.rolle}"></strong></p>
    </div>

    <!-- logout button -->
    <a th:href="@{/logUd}" class="nav-button logout-button">Log ud</a>
</div>


<!-- Success message -->
<div th:if="${successMessage}" class="success-message">
    <p th:text="${successMessage}"></p>
</div>

<!-- Error message -->
<div th:if="${errorMessage}" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>
<div class="main-content">


    <h1>Alle skaderapporter</h1>

    <div class="form-template">
        <form th:action="@{/kundensSkader}" method="post">
            <label>Find skaderapport</label>
            <label>(Indsæt lejekontrakt id. f.eks. 1, 5, 11 mm.) </label>
            <input type="number" name="lejekontrakt_id" placeholder="Kundens lejekontrakt_id">
            <button type="submit" class="søg-efter-kundens-lejekontrakt id">Find skaderapport</button>
        </form>
    </div>
    <!-- har lånt bil-tables properties for reducering af css. Dette er bare overall styling.  -->
    <table class="bil-table">
        <thead>
        <tr>
            <th>Lejekontrakt_id</th>
            <th>skade_type</th>
            <th>beskrivelse</th>
            <th>pris</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="skade : ${skader}">
            <td th:text="${skade.lejekontrakt_id}"></td>
            <td th:text="${skade.skade_type}"></td>
            <td th:text="${skade.beskrivelse}"></td>
            <td th:text="${skade.pris}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>